.btn {
  display: flex;
  align-items: center;
  height: 36px;
  padding: 0 18px 0 8px;
  letter-spacing: .25px;
  border-radius: 24px;
  cursor: pointer;
}
  
.button {
  font-family:'Open Sans';
  display:inline-block;
  color:#FFF;
  border-radius: .25em;
}

.touch {
  transition:ease-in-out .2s;
  line-height:40px;
  width:40px;
  padding: 0px;
}

.edit:before, .save:before, .new:before, .delete:before {
  font-family: FontAwesome;
  font-size:1rem;
  background:none;
  color:#FFF;
}


.touch.edit:before, .touch.save:before, .touch.new:before, .touch.delete:before {
  width:100%;
  text-align:center;
  font-size:1.25rem;
}


.edit {
  background: rgb(52, 152, 219);
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.edit:before {
  content: "\f040";
}

.save {
  background: rgb(142, 68, 173);
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.save:before {
  content: "\f0c7";
}

.delete {
  background: rgb(192, 57, 43);
  margin-right: 5px;
}

.delete:before {
  content: "\f1f8";
}


.tasks__list{
  display: flex;
    flex-direction: column;
    overflow: auto;
    resize: horizontal;
    max-width: 550px;
    min-width: 335px;
    width: 400px;
    border-right: thick double #81e6d9;
    padding-right: 8px;
}

.tasks__list_item{
  display: flex;
  justify-content:flex-end;
  background-color: rgb(129,230,217);
  border-radius: 15px;
  margin-bottom: 10px;
}

.task__item_title{
  margin-right: auto;   /* Прилипание заметки к правому краю */
  padding: 10px;
  font-size: 16px;
  white-space: nowrap;  /* Одна из основных целей в три строчки СЫЫ ;D */
  overflow: hidden;
  text-overflow: ellipsis;
}

.taskList__title{
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
  margin-bottom: 10px;
}

.task__search_input{
  padding: 10px 20px;
  box-sizing: border-box;
  border: 2px solid rgba(129,230,217,1);
  border-radius: 4px;
  height: 50px;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}
