$delete-red: red;

body {
  margin: 32px;
}

.btn {
  display: flex;
  align-items: center;
  background: none;
  border: 1px solid lighten(gray, 24%);
  height: 36px;
  padding: 0 18px 0 8px;
  letter-spacing: .25px;
  border-radius: 24px;
  cursor: pointer;
  
  &:focus {
    outline: none;
  }
  
  .mdi {
    margin-right: 8px;
  }
}

.btn-delete {
  font-size: 16px;
  color: red;
  
  >.mdi-delete-empty {
    display: none;
  }
  
  &:hover {
    background-color: lighten(red, 48%);
    
    >.mdi-delete-empty {
      display: block;
    }
    
    >.mdi-delete {
      display: none;
    }
  }
  

  
  &:focus {
    box-shadow: 0 0 0 4px lighten(red, 40%);
  }
}

.taskToDo__list_item{
  display: flex;
  margin-bottom: 10px;
}



$gw-blue: rgb(52, 152, 219); /*#3498db  edit   */
$gw-purple: rgb(142, 68, 173);  /*#8e44ad  save   */
$gw-green: rgb(46, 204, 113); /*#2ecc71    new  */
$gw-gray-5: rgb(85, 85, 85); /*#555555  cancel   */
$gw-red: rgb(192, 57, 43); /*#c0392b  delete   */
  
.button {
  font-family:'Open Sans';
  font-size: 16px;
  font-weight:400;
  display:inline-block;
  color:#FFF;
  border-radius: .25em;
  text-shadow: -1px -1px 0px rgba(0,0,0,0.4);
}

.primary {
  line-height:40px;
  transition:ease-in-out .2s;
  padding: 0 16px;
}

.primary:hover, .condensed:hover, .touch:hover {
  transform:scale(1.02);
  box-shadow:2px 2px 5px rgba(0,0,0,0.20), inset 0 0 0 99999px rgba(0,0,0,0.2);
}

.condensed {
  transition:ease-in-out .2s;
  line-height:24px;
  padding: 0 8px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
}

.touch {
  transition:ease-in-out .2s;
  line-height:40px;
  width:40px;
  padding: 0px;
  text-align: center;
}

.edit:before, .save:before, .new:before, .cancel:before, .delete:before {
  font-family: FontAwesome;
  display: inline-block;
  font-size:1rem;
  padding-right:12px;
  background:none;
  color:#FFF;
}

.condensed.edit:before, .condensed.save:before, .condensed.new:before, .condensed.cancel:before, .condensed.delete:before {
   content:none;
}

.touch.edit:before, .touch.save:before, .touch.new:before, .touch.cancel:before, .touch.delete:before {
  width:100%;
  text-align:center;
  font-size:1.25rem;
}

.inlineIcon.edit, .inlineIcon.save, .inlineIcon.new, .inlineIcon.cancel, .inlineIcon.delete {
  background: transparent;
}

.inlineIcon.edit:before, .inlineIcon.save:before, .inlineIcon.new:before, .inlineIcon.cancel:before, .inlineIcon.delete:before {
  line-height:32px;
  font-size:32px;
  padding:4px 0px;
}

.edit {
  background: $gw-blue;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  
  &:before {
    content: "\f040";
  }
}

.inlineIcon.edit:before {
    color: $gw-blue;
}

.save {
  background: $gw-purple;
  
  &:before {
    content: "\f0c7";
  }
}

.inlineIcon.save:before {
    color: $gw-purple;
}

.new {
  background: $gw-green;
  
  &:before {
    content: "\f067";
  }
}

.inlineIcon.new:before {
    color: $gw-green;
}

.cancel {
  background: $gw-gray-5;
  
  &:before {
    content: "\f05e";
  }
}

.inlineIcon.cancel:before {
    color: $gw-gray-5;
}

.delete {
  background: $gw-red;
  margin-right: 5px;
  
  &:before {
    content: "\f1f8";
  }
}

.inlineIcon.delete:before {
    color: $gw-red;
}

.taskToDo__list_item{
  display: flex;
  justify-content:flex-end;
  background-color: rgb(129,230,217);
  border-radius: 15px;
}

.taskToDo__item_title{
  display: flex;
  margin-right: auto;
  align-items: center;
  padding: 10px;
  font-size: 16px;
}

.taskToDo__item_input{

}