body {
  background-color: #07C7A4;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.todo__body {
  display: flex;
  width: 1200px;
  height: 720px;
  background-color: #DCF5E6;
  margin: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 15px;
}

.taskList__body_wrapper{
  display: flex;
  flex-direction: column;
  overflow: auto;
  resize: horizontal;
  max-width: 550px;
  min-width: 335px;
  width: 400px;
  border-right: thick double #81e6d9;
  padding-right: 8px;
}

.taskList__title{
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
}

.taskAdd__wrapper{
  margin-top: auto
}

.taskDescription__body_wrapper{
  width: 100%;
  padding-left: 15px;
}